.container {
  width: 100%;
  background-color: #f6f6f6;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  position: relative;
}
.item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
