/* Room Start */

.roomContainer {
    background: #ffffff;

    border: 1px solid #e8e9e9;
    border-radius: 4px;
    padding: 14px;

    display: flex;
    flex-direction: row;
    gap: 14px;
}

.roomContainerDivider {
    width: 1px;
    background-color: #e8e9e9;
}

.roomWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    flex: 0.4;
}

.dateWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    flex: 0.6;
}

.roomTextWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.roomTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #1d1f22;
}

.roomSubTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #8e8f90;
}

/* Room End */