.roomsGuests {
  padding: 0 24px;
  height: calc(100vh - 200px);
}

.roomContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  position: relative;
}

.roomNo,
.guestsInfoContainer {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #1d1f22;
}

.adultsKidsContainer {
  border: 1px solid #e8e9e9;
  border-radius: 4px;
  margin-top: 16px;
}

.lineBreak {
  margin: 0;
  border: 1px solid #e8e9e9;
  margin: 0 14px;
}

.addRoom {
  position: relative;
  border: none;
  outline: none;
  background-color: #fff;
  width: max-content;
  display: flex;
  text-decoration-line: underline;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #8e8f90;
  padding: 0;
  margin-top: 40px;
}

.squareSvgImage {
  width: 18px;
  height: 18px;
  margin-right: 12px;
}
.removeButton {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b89535;
  border: none;
  outline: none;
  background-color: #fff;
  padding: 0;
  width: min-content;
  position: absolute;
  top: calc(50% - 20px / 2);
  left: 69px;
}
