.header {
    height: 58px;
    display: flex;
    align-items: center;
}

.checkDetailContainer {
    padding: 0px 24px 24px 24px;
    display: flex;
    flex-direction: column;
}

.regionContainer {
    background: #FFFFFF;
    padding: 14px;
    border: 1px solid #E8E9E9;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    margin-top: 24px;
}

.regionText {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    /* Primary / NEOM Dark */

    color: #1D1F22;

}