.container {
  padding-left: 24px;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  height: 58px;
  display: flex;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: var(--primary-neom-dark);
  margin-bottom: 8px;
}

.exploreContainer {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 12px 0px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.recommendedContainer {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 12px 0px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.exploreContainer::-webkit-scrollbar {
  display: none;
}

.recommendedContainer::-webkit-scrollbar {
  display: none;
}

.main {
  min-height: 100vh;
  flex: 1;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.staysContainer {
  display: flex;
  flex: 1;
  margin-right: 24px;
  margin-top: 24px;
}
